nav {
  background: #559999;
  color: white;
  line-height: 2.5em;
  padding: 10px 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

nav #banner {
  display: inline-block;
  margin-left: 50px;
  font-size: 140%;
  letter-spacing: 0.2em;
  margin-top: 5px;
}

nav .split {
  flex-grow: 0.3;
}

nav ul.menu {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  display: inline-block;
  vertical-align: +6px;
  flex-grow: 1;
}

nav ul.menu li {
  display: inline;
  list-style-type:  none;
  margin: 5px;
  padding: 8px;
  white-space: nowrap;
}

nav ul.menu li.selected {
  border-bottom: 2px white solid;
}

nav ul.menu li:hover {
  border-bottom: 2px yellow solid;
}

html, body {
  margin: 0;
}

div.content {
  margin-left: 8px;
  margin-right: 8px;
}

section {
  margin: 10px;
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.7em;
  padding: 0.7em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
