RewriteEngine on
RewriteRule ^/?\.git.* - [R=404]
RewriteRule ^/?\.gitignore.* - [R=404]
RewriteRule ^(.*/)?\.ht.* - [R=404]
RewriteRule ^/?Dockerfile$ - [R=404]
RewriteRule ^/?some.*\.php - [R=404]
RewriteRule ^([^./]+)/?$ $1.php [L]
